<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{labels.title}}</h1>
                <br>
            </div>
        </div>

        <form @submit.prevent="addItem">
            <div class="row">
                <div class="col">
                    <input type="text" v-model="newItem.naming" class="form-control" :placeholder="labels.naming">
                </div>
                <div class="col">
                    <input type="number" v-model="newItem.quantity" class="form-control" :placeholder="labels.quantity">
                </div>
                <div class="col">
                    <input type="number" v-model="newItem.price" class="form-control" :placeholder="labels.price">
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-success" :value="labels.add">
                </div>
            </div>
        </form>
        <br>
        <table class="table list">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{  labels.naming  }}</th>
                <th scope="col">{{  labels.quantity  }}</th>
                <th scope="col">{{  labels.price  }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr :class="{ editing: item == editedItem }" v-for="(item, index) in items">
                <th scope="row">{{index + 1}}</th>
                <td v-for="(itemObj, key, index) in item">
                    <div class="data-container">
                    <label @dblclick="editRow(item)">{{ item[key] }}</label>
                    <input  class="form-control"
                            v-model="item[key]"
                            @keyup.enter="doneEdit(item)"
                            @keyup.esc="cancelEdit(item)"
                    >
                    </div>
                </td>
                <td>
                    <button @click="editRow(item)" class="btn">{{ labels.edit }}</button>
                    <button @click="deleteItem(item)" class="btn btn-danger">{{ labels.delete }}</button>
                </td>
            </tr>
            <tr v-if="items.length > 0">
                <td colspan="3">Итого: </td>
                <td>{{total()}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default{
        data () {
            return {
                labels: {
                    title: "Накладные",
                    naming: "Наименование",
                    quantity: "Количество",
                    price: "Цена",
                    add: "Добавить",
                    delete: "Удалить",
                    edit: "Изменить"
                },
                newItem: {},
                editedItem: null,
                items: []
            }
        },
        watch: {
            items: function() { // watch it
                this.total();
            }
        },
        methods: {
            total: function(){
                let total = 0;
                for(let item of this.items){
                    total += item.price * item.quantity;
                }
                return total;
            },
            validated: function(item) {
                console.log(item.naming);
                if ((typeof item.naming == "undefined" || typeof item.price == "undefined" || typeof item.quantity == "undefined" ) || item.naming == '' || item.quantity == 0 || item.price == 0) {
                    return false;
                } else {
                    return true;
                }
            },
            addItem: function(){
                let item = this.newItem;
                console.log(this.newItem);
                if (!this.validated(item)) {

                    return;
                }

                this.items.push(item);
                this.newItem = {};
            },
            deleteItem: function(item){
                this.items.splice(this.items.indexOf(item), 1);
            },
            editRow: function(item){
                this.editedItem = item;
            },
            doneEdit: function (item) {
                if (!this.validated(item)) {
                    return
                }
                this.editedItem = null;
            },

            cancelEdit: function () {
                this.editedItem = null;
            },
        }
    }
</script>
<style>
    .list label{
        width: 100%;
        display: block;
    }
    .list input{
        display: none;
        width: 100%;
    }
    .editing td label{
        display: none;
    }
    .editing td input{
        display: block;
    }
    .data-container{width: 200px}
</style>